<!DOCTYPE html>
<html>
<head>
	<title>Fake News Detector</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id='main'>
	<header>

	<div class="container">
		<h2>  Fake News Detector </h2>
		
	</div>

	</header>

	<div class="ml-container">

	<form action="{{ url_for('predict')}}" method="POST">
		
		<p id='comment'>This is a Fake News Detector App made using Flask and LSTM in TensorFlow <br>
		You can also compare the prediction with a baseline Logistic Regression Model </p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="title" rows="2" cols="50", placeholder='Enter Title of News Here', type='text'></textarea> <br> <br>
		<textarea name="News" rows="4" cols="50", placeholder='Enter News Here', type='text'></textarea> <br> <br>

	    <label> Select Classifier: </label> 
         <select name = "myList">
           <option value = "1">LSTM Neural Network</option>
           <option value = "2">Logistic Regression</option>
         </select>

		<br/>
		<br>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	<div class='prediction'>
	{% if pred == 1%}
	<h2 style="color:green;"> Not Fake News</h2>
	{% elif pred == 0%}
	<h2 style="color:red;"> Fake News! </h2>
	{% endif %}
	</div>
	
</div>
</body>
</html>